// Microsoft Visual C++ generated resource script.
//
#define APSTUDIO_HIDDEN_SYMBOLS
#include <windows.h>
#include <commctrl.h>
#undef APSTUDIO_HIDDEN_SYMBOLS
#include "resource.h"
#include "BuildInfo.h"
/////////////////////////////////////////////////////////////////////////////
// Neutral (Default) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEUD)
LANGUAGE LANG_NEUTRAL, SUBLANG_DEFAULT
#pragma code_page(65001)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//
IDD_DIALOG_COMMON DIALOGEX 0, 0, 268, 297
STYLE DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_CHILD | WS_VISIBLE
CAPTION "一般"
FONT 10, "細明體", 0, 0, 0x0
BEGIN
GROUPBOX        "外觀設定", IDC_STATIC, 4, 4, 258, 85, BS_FLAT
LTEXT           "字型:", IDC_STATIC, 24, 20, 50, 8
EDITTEXT        IDC_EDIT_FONTNAME, 128, 18, 80, 12, ES_AUTOHSCROLL | ES_READONLY | NOT WS_TABSTOP
EDITTEXT        IDC_EDIT_FONTPOINT, 210, 18, 16, 12, ES_AUTOHSCROLL | ES_READONLY | NOT WS_TABSTOP
PUSHBUTTON      "▼", IDC_BUTTON_CHOOSEFONT, 230, 17, 16, 14, BS_CENTER
LTEXT           "顏色:", IDC_STATIC, 24, 42, 50, 8
LTEXT           "一般字型", IDC_STATIC, 65, 42, 34, 8
CONTROL         "", IDC_COL_FR, "Static", SS_BLACKFRAME, 102, 40, 16, 12
LTEXT           "選項字型", IDC_STATIC, 128, 42, 33, 8
CONTROL         "", IDC_COL_SEFR, "Static", SS_BLACKFRAME, 165, 40, 16, 12
LTEXT           "一般背景", IDC_STATIC, 189, 42, 33, 8
CONTROL         "", IDC_COL_BG, "Static", SS_BLACKFRAME, 226, 40, 16, 12
LTEXT           "聯想字字型", IDC_STATIC, 56, 61, 43, 8
CONTROL         "", IDC_COL_PHRASE, "Static", SS_BLACKFRAME, 102, 58, 16, 12
LTEXT           "標號字型", IDC_STATIC, 128, 61, 34, 8
CONTROL         "", IDC_COL_NU, "Static", SS_BLACKFRAME, 165, 58, 16, 12
LTEXT           "選項背景", IDC_STATIC, 189, 61, 33, 8
CONTROL         "", IDC_COL_SEBG, "Static", SS_BLACKFRAME, 226, 58, 16, 12
CONTROL         "在桌面模式顯示浮動中英切換視窗", IDC_CHECKBOX_SHOWNOTIFY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 24, 75, 140, 8
PUSHBUTTON      "回復原始設定", IDC_BUTTON_RESTOREDEFAULT, 168, 73, 75, 12

GROUPBOX        "輸入設定", IDC_STATIC, 4, 93, 258, 198, BS_FLAT

LTEXT           "組字區最大長度:", IDC_STATIC_EDIT_MAXWIDTH, 24, 108, 70, 8
EDITTEXT        IDC_EDIT_MAXWIDTH, 101, 106, 20, 12, ES_AUTOHSCROLL
LTEXT           "鍵盤對應選擇:", IDC_STATIC_PHONETIC_KEYBOARD, 24, 108, 70, 8
COMBOBOX        IDC_COMBO_PHONETIC_KEYBOARD, 101, 106, 146, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
LTEXT           "行列查詢碼表: ", IDC_STATIC_ARRAY_SCOPE, 24, 108, 70, 8
COMBOBOX        IDC_COMBO_ARRAY_SCOPE, 101, 106, 146, 100, CBS_DROPDOWNLIST | WS_TABSTOP

LTEXT           "九宮格數字鍵盤:", IDC_STATIC_NUMERIC_KEYPAD, 24, 124, 70, 8
COMBOBOX        IDC_COMBO_NUMERIC_PAD, 101, 122, 146, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

CONTROL         "錯誤組字時清除字根", IDC_CHECKBOX_CLEAR_ONBEEP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 24, 139, 96, 8
CONTROL         "打字時同步組字", IDC_CHECKBOX_AUTOCOMPOSE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 124, 139, 78, 8
CONTROL         "以'鍵查詢自建詞庫", IDC_CHECKBOX_ARRAY_SINGLEQUOTE_CUSTOM_PHRASE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 124, 139, 78, 8

CONTROL         "錯誤組字嗶聲提示", IDC_CHECKBOX_DOBEEP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 24, 154, 80, 8
CONTROL         "錯誤組字提示窗開啟", IDC_CHECKBOX_DOBEEPNOTIFY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 124, 154, 106, 8
CONTROL         "提示聯想字詞", IDC_CHECKBOX_PHRASE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 24, 168, 80, 8
CONTROL         "自訂詞優先", IDC_CHECKBOX_CUSTOM_TABLE_PRIORITY, "Button", BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP, 124, 168, 80, 8
CONTROL         "以方向鍵換頁", IDC_CHECKBOX_ARROWKEYSWPAGES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 24, 182, 80, 8
CONTROL         "以空白鍵換頁", IDC_CHECKBOX_SPACEASPAGEDOWN, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 124, 182, 80, 8
CONTROL         "地址鍵輸入符號", IDC_CHECKBOX_DAYIARTICLEMODE, "Button", BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP, 24, 197, 80, 8
CONTROL         "僅接受輸入特別碼", IDC_CHECKBOX_ARRAY_FORCESP, "Button", BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP, 24, 197, 80, 8
CONTROL         "空白鍵為第一選字鍵", IDC_CHECKBOX_SPACEASFIRSTCANDSELKEY, "Button", BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP, 24, 197, 96, 8
CONTROL         "特別碼提示", IDC_CHECKBOX_ARRAY_NOTIFYSP, "Button", BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP, 124, 197, 137, 8
CONTROL         "有候選字時嗶聲提示", IDC_CHECKBOX_DOBEEP_CANDI, "Button", BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP, 124, 197, 137, 8

LTEXT           "全半形輸入模式:", IDC_STATIC_DOUBLE_SINGLE_BYTE, 24, 212, 56, 8
COMBOBOX        IDC_COMBO_DOUBLE_SINGLE_BYTE, 101, 213, 146, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

LTEXT           "中英切換熱鍵:", IDC_STATIC_IME_SHIFT_MODE, 24, 228, 56, 8
COMBOBOX        IDC_COMBO_IME_SHIFT_MODE, 101, 229, 146, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

LTEXT           "預設輸入模式: ", IDC_STATIC, 24, 244, 56, 8
CONTROL         "英數模式", IDC_RADIO_KEYBOARD_CLOSE, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 170, 245, 60, 8
CONTROL         "中文模式", IDC_RADIO_KEYBOARD_OPEN, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 102, 245, 60, 8

LTEXT           "輸出字元: ", IDC_STATIC, 24, 260, 56, 8
CONTROL         "繁體中文", IDC_RADIO_OUTPUT_CHT, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 102, 261, 60, 8
CONTROL         "簡體中文", IDC_RADIO_OUTPUT_CHS, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 170, 261, 60, 8

LTEXT           "反查輸入字根: ", IDC_STATIC, 24, 276, 56, 8
COMBOBOX        IDC_COMBO_REVERSE_CONVERSION, 101, 274, 146, 180, CBS_DROPDOWNLIST | WS_TABSTOP

END

IDD_DIALOG_DICTIONARY DIALOGEX 0, 0, 268, 297
STYLE DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_CHILD | WS_VISIBLE
CAPTION "自建詞庫"
FONT 10, "細明體", 0, 0, 0x0
BEGIN
//GROUPBOX        "主碼表",IDC_STATIC,4,4,258,85,BS_FLAT
LTEXT           "自建詞庫: \n每組自訂字詞一行，以空白間隔輸入碼與自訂字詞", IDC_STATIC, 10, 15, 230, 20
EDITTEXT        IDC_EDIT_CUSTOM_TABLE, 10, 35, 245, 228, ES_AUTOVSCROLL | WS_TABSTOP | WS_VSCROLL | ES_MULTILINE | ES_WANTRETURN

PUSHBUTTON      "特別碼", IDC_BUTTON_LOAD_ARRAY_SP, 10, 263, 35, 14, BS_CENTER
PUSHBUTTON      "簡碼", IDC_BUTTON_LOAD_ARRAY_SC, 50, 263, 35, 14, BS_CENTER

PUSHBUTTON      "ExtB", IDC_BUTTON_LOAD_ARRAY_EXT_B, 90, 263, 35, 14, BS_CENTER
PUSHBUTTON      "ExtCD", IDC_BUTTON_LOAD_ARRAY_EXT_CD, 130, 263, 35, 14, BS_CENTER
PUSHBUTTON      "ExtEFG", IDC_BUTTON_LOAD_ARRAY_EXT_EFG, 170, 263, 40, 14, BS_CENTER
PUSHBUTTON      "行列40", IDC_BUTTON_LOAD_ARRAY40, 215, 263, 40, 14, BS_CENTER



PUSHBUTTON      "載入主碼表", IDC_BUTTON_LOAD_MAIN, 10, 278, 50, 14, BS_CENTER
PUSHBUTTON      "載入聯想詞表", IDC_BUTTON_LOAD_PHRASE, 60, 278, 50, 14, BS_CENTER
PUSHBUTTON      "載入詞庫", IDC_BUTTON_LOAD_ARRAY_PHRASE, 110, 278, 40, 14, BS_CENTER

PUSHBUTTON      "匯出自訂詞庫", IDC_BUTTON_EXPORT_CUSTOM, 150, 278, 50, 14, BS_CENTER
PUSHBUTTON      "匯入自訂詞庫", IDC_BUTTON_IMPORT_CUSTOM, 205, 278, 50, 14, BS_CENTER
END
#ifdef DIMESettings
/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DIMESETTINGS DIALOGEX 0, 0, 245, 156
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "DIME設定"
FONT 10, "微軟正黑體", 400, 0, 0x1
BEGIN
PUSHBUTTON      "DIME 大易輸入法設定", IDB_DIME_DAYI_SETTINGS, 20, 18, 200, 28
PUSHBUTTON      "DIME 行列輸入法設定", IDB_DIME_ARRAY_SETTINGS, 20, 51, 200, 28
PUSHBUTTON      "DIME 傳統注音輸入法設定", IDB_DIME_PHONETIC_SETTINGS, 20, 84, 200, 28
PUSHBUTTON      "DIME 自建輸入法設定", IDB_DIME_GENERIC_SETTINGS, 20, 119, 200, 28
END
#endif

/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
IDD_DIALOG_BEHAVIOR, DIALOG
BEGIN
END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
IDIS_DIME             "Dumb Input Method Editor (DIME)"
IDS_IME_MODE            "Chinese/English input (Shift)"
IDS_DOUBLE_SINGLE_BYTE  "Double/Single byte (Shift+Space)"
END

STRINGTABLE
BEGIN
IDS_DAYI_DESCRIPTION    "Dayi (DIME)"
IDS_ARRAY_DESCRIPTION    "Array (DIME)"
IDS_PHONETIC_DESCRIPTION    "Phonetic (DIME)"
IDS_GENERIC_DESCRIPTION    "Generic (DIME)"
END

#endif    // Neutral (Default) resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// Chinese (Traditional, Taiwan) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHT)
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL
#pragma code_page(65001)

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
IDIS_DIME             "DIME 繁中輸入法"
IDS_IME_MODE            "中/英  (Shift)"
IDS_DOUBLE_SINGLE_BYTE  "全形 /半形 (Shift+Space)"
END

STRINGTABLE
BEGIN
IDS_DAYI_DESCRIPTION		"DIME大易"
IDS_ARRAY_DESCRIPTION		"DIME行列"
IDS_PHONETIC_DESCRIPTION    "DIME傳統注音"
IDS_GENERIC_DESCRIPTION		"DIME自建"
END

#endif    // Chinese (Traditional, Taiwan) resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// English resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(65001)

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.

IDI_DIMESETTINGS        ICON                    "image\\DIMESettings.ico"
#ifndef DIMESettings
IDI_DAYI                ICON                    "image\\TSFDayi.ico"
IDI_ARRAY               ICON                    "image\\TSFArray.ico"
IDI_PHONETIC            ICON                    "image\\TSFPhonetic.ico"
IDI_GENERIC	            ICON                    "image\\TSFGeneric.ico"
IDI_IME_MODE_ON         ICON                    "image\\ImeModeOn.ico"
IDI_IME_MODE_OFF        ICON                    "image\\ImeModeOff.ico"
IDI_DOUBLE_SINGLE_BYTE_ON ICON                  "image\\DoubleSingleByteOn.ico"
IDI_DOUBLE_SINGLE_BYTE_OFF ICON                 "image\\DoubleSingleByteOff.ico"
#endif
/////////////////////////////////////////////////////////////////////////////
//
// Version
//
#define COPYRIGHT_STRING "Copyright 2022 Jeremy Wu" 
#define DIME_VERSION BUILD_VER_MAJOR, BUILD_VER_MINOR, BUILD_COMMIT_COUNT, BUILD_DATE_1
IDR_VERSION VERSIONINFO
FILEVERSION DIME_VERSION
PRODUCTVERSION DIME_VERSION
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904b0"
BEGIN
VALUE "CompanyName", "Jeremy Wu"
VALUE "FileDescription", "Dumb Input Method Editor (DIME)"
VALUE "FileVersion", BUILD_VERSION_STR
VALUE "InternalName", "DIME.dll"
VALUE "LegalCopyright", COPYRIGHT_STRING
VALUE "LegalsearchTextright", COPYRIGHT_STRING
VALUE "OriginalFilename", "DIME.dll"
VALUE "ProductName", "DIME"
VALUE "ProductVersion", BUILD_VERSION_STR
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x409, 1200, 0x404, 1200
END
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE
BEGIN
"resource.h\0"
END

2 TEXTINCLUDE
BEGIN
"\0"
END

3 TEXTINCLUDE
BEGIN
"\r\n"
"\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // English resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
//
// RT_MANIFEST - Application Manifest for DPI Awareness
//
#ifndef _WIN64
  CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "DIME.manifest"
#else
  ISOLATIONAWARE_MANIFEST_RESOURCE_ID RT_MANIFEST "DIME.manifest"
#endif

#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

